<div class="app--footer">
    <div class="container">
        <div class="col-md-6">
            Footer
        </div>
        <div class="col-md-3 col-offset-md-3">
            Test
        </div>
    </div>
</div>