@using System.Security.Claims

@if (User.IsSignedIn())
{
    <a asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-user"></i> @User.GetUserName()</a>
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="inline-form">
        <button type="submit"><i class="fa fa-sign-out"></i> Выход</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Регистрация</a>
    <a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> Вход</a>
}

