@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход";
}

<div class="page-header">
    <h2 class="inline-header">@ViewData["Title"]</h2>
</div>

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form col-md-8 col-offset-md-2 col-lg-6 col-offset-lg-3" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="col-md-4">
        <label asp-for="Email"></label>
    </div>
    <div class="col-md-8">
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Password">Пароль</label>
    </div>
    <div class="col-md-8">
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-offset-md-4 col-md-8">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Запомнить</label>
    </div>
    <div class="col-offset-md-4 col-md-8">
        <input type="submit" class="btn" value="Вход" />
    </div>

    <div class="col-md-8 col-offset-md-4">
        <a asp-action="Register">Завести нового пользователя?</a>
    </div>
    <div class="col-md-8 col-offset-md-4">
        <a asp-action="ForgotPassword">Забыли пароль?</a>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
